<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Enter Fruits||Vendor</title>
    <link rel="stylesheet" href="/fruit_entry.css" />
  </head>

  <body>
    <!-- header  -->
    <div class="navbar">
      <ul class="nav">
        <li><a href="/">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">More</a></li>
        <li><a href="#">Features</a></li>
      </ul>
    </div>

    <div class="logo"><img src="/logo.png" alt="" /></div>

    <div class="wname"><img src="/wname.png" alt="" /></div>

    <!-- entry form  -->
    <div class="box">
      <form action="/registerfruit" method="POST" class="wrap">
        <div class="head">Enter available fruits</div>
        <label for="name"
          >Fruit Name:<input type="text" name="fruit_name" required
        /></label>
        <label for="name"
          >Quantity:<input type="text" name="fruit_qty" required
        /></label>
        <label for="name"
          >Quality:<input type="text" name="fruit_qlt" required
        /></label>
        <label for="name"
          >Type:<input type="text" name="fruit_type" required
        /></label>
        <label for="name"
          >Price:<input type="text" name="fruit_price" required
        /></label>

        <button>Enter Fruits</button>
      </form>
    </div>

    <!-- footer  -->

    <div class="footer">
      <div class="fone">
        <div class="tl">
          <h1>Fruitzzzzz</h1>
          <img src="./Images/logo.png" alt="" />
        </div>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit totam
        provident officia rerum voluptates modi enim unde dignissimos beatae,
        corporis mollitia et architecto blanditiis aperiam illo maxime ab
        inventore! Ab.

        <div class="social">
          <a href="#"><i class="fa-brands fa-facebook"></i></a>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
          <a href="#"><i class="fa-brands fa-twitter"></i></a>
          <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
        </div>
      </div>

      <div class="ftwo">
        <h1>Contact Info</h1>

        <i class="fa-solid fa-phone-rotary"></i>+91 23432
      </div>

      <div class="fthree">
        <h1>Quick Access</h1>
        <ul class="lis">
          <li>
            <a href="/"> <span> -></span> Home</a>
          </li>
          <li>
            <a href=""> <span> -></span> About</a>
          </li>
          <li>
            <a href="/customer_form"> <span> -> </span>Customer Login</a>
          </li>
          <li>
            <a href="/vendor_form"> <span> -> </span>Vendor Login</a>
          </li>
        </ul>
      </div>

      <div class="ffour">
        <h1>Business</h1>

        <div class="bus">
          <i class="fa-solid fa-envelope"></i>xyz@gmail.com

          <i class="fa-solid fa-phone"></i> +91 43329843279
        </div>
      </div>
    </div>

    <div class="foot">&copy; All Copyrights Reserved || 2022</div>
  </body>
</html>
